@font-face {
  font-family: Acumin;
  src: url(../fonts/AcuminVariableConcept.otf);
}

@font-face {
  font-family: Archivo;
  src: url(../fonts/Archivo-VariableFont_wdth\,wght.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Archivo, sans-serif;
  background-color: #fff;
  color: #000;
}

h1, h2, h3, h4, h5, h6, strong {
  font-family: Acumin, sans-serif;
  font-weight: bold;
}

/* header start */
header {
  width: 100%;
  display: flex;
  top: 0;
  padding: 25px 50px;
  align-items: center;
  justify-content: space-between;
  /* position: fixed; */
  background-color: #fff;
  z-index: 999;
}

.img-header {
  width: 220px;
}

.center-menu ul {
  display: flex;
  font-size: 14px;
  margin-right: 120px;
}

.center-menu ul li {
  margin-top: 2rem;
  list-style: none;
  
}

.center-menu ul li a {
  text-decoration: none;
  color: #676767;
  margin: 2.5rem;
  padding: 10px;
}

.center-menu ul li a:hover {
  color: #000;
}

.center-menu ul .tab-menu .sub-menu {
  display: none;
}

.center-menu ul .tab-menu:hover .sub-menu {
  display: block;
  position: absolute;
}

.sub-menu li a {
  transition: all 0.3s;
}

.sub-menu li .sub-list:hover {
  background-color: #d0d2d3;
  color: #fff;
}

.lang {
  text-align: right;
}

.lang a {
  text-decoration: none;
  padding-left: 15px;
  font-size: 14px;
  color: #676767;
}

.lang a:hover {
  color: #000;
}

.auth a {
  text-decoration: none;
  padding-left: 25px;
  font-size: 14px;
  color: #676767;
}

.auth a:hover {
  color: #000;
}

/* modal start popup signin */
.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  fill: currentcolor;
}

.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10000;
  margin: auto;
  top: 0;
  left: 0;
  visibility: hidden;
}

.modal.is-visible {
  visibility: visible;
}

.modal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.modal.is-visible .modal-overlay {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.modal-wrapper {
  position: absolute;
  z-index: 9999;
  top: 6em;
  left: 50%;
  width: 32em;
  margin-left: -16em;
  background-color: #fff;
  box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
}

.modal-transition {
  transition: all 0.3s 0.12s;
  transform: translateY(-10%);
  opacity: 0;
}

.modal.is-visible .modal-transition {
  transform: translateY(0);
  opacity: 1;
}

/* modal header */
.modal-header, .modal-content {
  padding: 1em;
}

.modal-header {
  position: relative;
  background-color: #fff;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.06);
}

.modal-header h2 {
  font-weight: 100;
  font-size: 24px;
  text-align: center;
  margin-top: 30px;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  color: #000;
  background: none;
  border: 0;
}

.modal-close img {
  width: 22px;
}

.modal-heading {
  font-size: 1.125em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* modal body */
.modal-content p {
  text-align: center;
  margin: 0 40px 0 40px;
}

.modal-content label {
  font-size: 12px;
  margin: 65px;
}

.modal-content input {
  width: 350px;
  height: 31px;
  display: grid;
  margin: auto;
  border: 1px solid;
}

.modal-content [type="submit"] {
  width: 220px;
  margin: 40px auto;
  border: none;
  background: #676767;
  color: #fff;
  cursor: pointer;
}

.modal-content [type="submit"]:hover {
  background: #0d58b2;
}

.modal-content > *:first-child {
  margin-top: 0;
}

.modal-content > *:last-child {
  margin-bottom: 0;
}

/* modal footer */
.modal-footer {
  text-align: center;
  margin: 50px auto;
  border-top: 2px solid #676767;
  padding: 40px;
}

.modal-footer p a {
  padding: 0;
  color: #676767;
  text-decoration: underline;
}

.modal-footer p a:hover {
  color: #0d58b2;
}
/* modal end*/

.header .right-menu .user {
  display: flex;
  align-items: center;
}

.header .right-menu .user img {
  width: 40px;
}

.header .right-menu .user h3 {
  font-weight: 100;
  margin-left: 10px;
}

/* popup user home */
.header .right-menu .user .popup-user {
  width: 290px;
  height: 410px;
  background-color: #fff;
  margin-top: 460px;
  margin-left: -250px;
  box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.2);
  visibility: hidden;
  position: absolute;
  z-index: 1;
  transition-delay: .3s;
}

.header .right-menu .user:hover .popup-user {
  visibility: visible;
}
/* popup user header */
.header .right-menu .user .popup-user .popup-user-header {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #676767;
}

.header .right-menu .user .popup-user .popup-user-header a {
  text-decoration: none;
  color: #676767;
  font-size: 12px;
}

/* popup user body */
.header .right-menu .user .popup-user .popup-user-body table {
  margin: 10px 65px;
  text-align: justify;
  font-size: 12px;
  list-style: none;
}

/* popup user footer */
.header .right-menu .user .popup-user .popup-user-footer {
  display: flex;
  border-top: 1px solid #676767;
  padding: 10px;
}

.header .right-menu .user .popup-user .popup-user-footer a {
  width: 200px;
  height: 30px;
  padding: 7px 22px;
  border: none;
  margin: 10px;
  font-size: 12px;
  background: #676767;
  color: #fff;
  text-decoration: none;
}

.header .right-menu .user .popup-user .signout {
  display: block;
  width: 130px;
  height: 30px;
  padding: 7px 17px;
  border: none;
  margin: 0 80px;
  font-size: 12px;
  background: #676767;
  color: #fff;
  text-decoration: none;
}

.header .right-menu .user .popup-user .signout:hover {
  background-color: #0d58b2;
}

.header .right-menu .user .popup-user .popup-user-footer a:hover {
  background-color: #0d58b2;
}

.btnMenu {
  display: none;
}

@media screen and (min-width: 1175px) {
  .center-menu, .right-menu {
    display: block !important;
  }
}

@media screen and (max-width: 1175px) {
  header {
    width: 100%;
    top: 0;
    margin: auto;
    align-items: flex-start;
  }
  
  .btnMenu {
    display: block;
    cursor: pointer;
  }

  .center-menu {
    display: none;
  }

  .right-menu {
    display: none;
  }

  .center-menu ul {
    width: 100%;
    display: grid;
    position: relative;
    float: left;
    top: 10px;
    left: -20px;
  }

  .center-menu ul li {
    transition: all 0.3s;
  }

  .sub-menu {
    display: grid;
    top: 0;
    left: 240px;
  }
}
/* popup user end */
/* header end */

/* content start */
.content {
  display: flex;
  width: 100%;
  height: 75vh;
  margin: 20px auto;
  padding: 50px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .content {display: grid;}
}

.content div form input {
  font-family: Archivo, sans-serif;
  font-size: 14px;
  width: 400px;
  height: 31px;
  border: none;
  border-radius: 0;
  outline: none;
  padding: 7px;
  background: transparent;
}

.searchForm {
  border-bottom: 1px #000 solid;
}

.searchForm:hover {
  border-bottom: 2px #000 solid;
}

button {
  border: none;
  outline: none;
  border-radius: 0;
  background: transparent;
  padding: 7px;
  cursor: pointer;
}

.advanced-search {
  text-align: right;
  margin-top: 10px;
}

.advanced-search a {
  color: #000;
  border: 1px solid;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
}

.advanced-search a:hover {
  background-color: #d0d2d3;
  color: #fff;
}
/* content end */

/* footer start */
footer {
  width: 100%;
  background-color: #d0d2d3;
  display: flex;
  margin: auto;
  padding: 70px;
}

@media screen and (max-width: 1024px) {
  footer {
    display: grid;
    margin: auto;
  }
}

/* footer left */
.footer-left {
  width: 70%;
  line-height: 20px;
}

@media screen and (max-width: 1024px) {
  .footer-left .about-civas {
    display: grid;
    margin: auto;
  }

  .footer-left .about-civas .about-civas-right {
    margin-left: 0;
  }
}

.about-civas {
  display: flex;
  font-size: 12px;
}

.about-civas-left p {
  width: 75%;
  font-size: 12px;
}

.about-civas-right {
  margin-top: 10px;
  width: 120%;
}

.about-civas-right p {
  font-size: 12px;
  line-height: 20px;
}

@media screen and (max-width: 768px) {
  .about-civas-right {
    width: 100%;
    display: grid;
    margin: auto;
  }
}

/* footer right */
.footer-right {
  width: 40%;
}

@media screen and (max-width: 1024px) {
  .footer-right {
    width: 100%;
    display: grid;
    margin: 20px auto;
  }
}

.footer-right .footer-right-group {
  width: 420px;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .footer-right .footer-right-group {
    display: grid;
  }

  .footer-right .footer-right-logo {
    display: grid;
  }
}

.footer-right .footer-right-group .footer-right-form {
  display: grid;
}

.footer-right-form form input {
  font-family: Archivo, sans-serif;
  width: 250px;
  height: 30px;
  border: none;
  border-radius: 0;
  outline: none;
  padding: 7px;
  background: transparent;
}

.footer-right-form form {
  width: 280px;
  border-bottom: 1px #000 solid;
}

.footer-right-form form:hover {
  border-bottom: 2px solid;
}

.footer-right-form form button img {
  width: 10px;
  height: 10px;
}

.footer-right-form .register-label {
  font-size: 11px;
  margin: 8px 0 20px 0;
}

.footer-right .footer-right-group a {
  width: 180px;
  height: 40px;
  font-size: 12px;
  text-align: center;
  border: 1px solid;
  border-radius: 4px;
  padding: 10px;
  text-decoration: none;
  color: #000;
}

.footer-right .footer-right-group a:hover {
  background-color: #000;
  color: #fff;
}

@media screen and (max-width: 1155px) {
  .footer-right .footer-right-group a {
    text-align: center;
    height: 50px;
  }
}

@media screen and (max-width: 1110px) {
  .footer-right .footer-right-group a {
    margin-left: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .footer-right .footer-right-group a {
    text-align: center;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.footer-right p {
  margin-left: 175px;
  font-size: 12px;
}

@media screen and (max-width: 1024px) {
  .footer-right p {
    display: none;
  }
}

.footer-right div {
  width: 100%;
  display: flex;
}

.footer-right div .footer-right-content {
  width: 420px;
  display: flex;
  
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .footer-right div .footer-right-content {
    width: 420px;
  }
}

.footer-right-content ul li {
  list-style: none;
  font-size: 12px;
}

.footer-right div img {
  width: 150px;
  height: 35px;
}

.footer-right div .footer-right-content .img-footer {
  width: 65px;
  height: 65px;
  margin-left: 25px;
}

.footer-bottom {
  background-color: #d0d2d3;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 25px;
}

.footer-bottom p {
  width: 55%;
  margin: auto;
  font-size: 14px;
}

.footer-bottom ul {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom ul li {
  padding: 20px;
  margin: auto;
  list-style: none;
}

.footer-bottom ul li a {
  font-size: 14px;
  text-decoration: none;
  color: #676767;
}

.footer-bottom ul li a:hover {
  font-weight: bold;
  color: #000;
}
/* footer end */
